/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.form {
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  row-gap: rem(48px);

  &.isSplitView {
    .header {
      margin-block-end: $spacing-07;
      h1 {
        font-size: rem(20px);
      }
    }

    .actionBar {
      padding-block-end: $grid-margin;
      inset-block-end: calc($grid-margin * -1);
      margin-block-end: calc($grid-margin * -1);
    }
  }
}

.content {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-end: $spacing-06;
  h1 {
    margin-block-end: 0;
  }
}

.agents {
  display: flex;
  flex-direction: column;
}

.label {
  @include type-style('label-01');
  color: $text-secondary;
  margin-block-end: $spacing-03;
}

.actionBar {
  position: sticky;
  inset-block-end: -$spacing-09;
  padding: $spacing-04 $grid-margin $spacing-08;
  margin: 0 calc($grid-margin * -1) #{-$spacing-09};
  background-color: $background;
  display: flex;
  justify-content: space-between;
  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    inset-block-end: 100%;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: rem(48px);
    background-image: linear-gradient(to top, $background, $background-transparent);
  }

  button {
    min-inline-size: rem(128px);
  }
}

.backButton {
  display: flex;
  gap: $spacing-03;
  align-items: center;
  padding-inline-end: $spacing-05;
}
