/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.nav,
.ul,
.link {
  block-size: 100%;
}

.nav {
  @include type-style(body-compact-01);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  column-gap: rem(40px);
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: rem(8px);
  text-decoration: none;

  &:not(:hover) {
    --cds-link-primary: #{$text-dark};
  }

  &.active::after {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: -1px;
    block-size: 2px;
    background: $text-dark;
  }
}

.icon {
  color: $text-dark;
}
