/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
  margin-inline-start: -$spacing-03;

  &.hasNav {
    @include breakpoint-up(md) {
      margin-inline-start: 0;
    }
  }
}

.button {
  @include hide-popover();

  .hasNav & {
    @include breakpoint-up(md) {
      display: none;
    }
  }
}
