/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
  margin-inline-start: -$spacing-03;
}

.button {
  @include hide-popover();
}

.label {
  font-size: rem(14px);
  line-height: math.div(18, 14);
  font-weight: 600;
  color: $text-dark;
}
