/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    column-gap: $spacing-03;
  }

  .name {
    font-size: rem(50px);
    line-height: math.div(65, 50);
    margin-block-end: 0;

    @include breakpoint-down(md) {
      font-size: 8vw;
    }
  }

  .metadata {
    margin-block-start: $spacing-05;
  }

  .description {
    margin-block-start: $spacing-03;
    max-inline-size: 80%;
    font-size: rem(18px);
    line-height: math.div(24, 18);
    color: $text-secondary;
  }

  .tags {
    margin-block-start: $spacing-05;
  }

  .buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: $spacing-05;
    margin-block-start: $spacing-06;
  }

  .copySnippet {
    min-inline-size: rem(288px);
  }

  .divider {
    inline-size: 100%;
    border: none;
    border-block-start: 1px solid $border-subtle-00;
    margin-block: $spacing-07;
  }
}

.documentation {
  h2 {
    font-size: rem(14px);
    font-weight: 600;
    line-height: rem(20px);
    letter-spacing: $letter-spacing-lg;
  }
}

@include breakpoint-up(md) {
  .root {
    padding-block-start: $spacing-05;
  }
}
