.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.searchBar {
  position: relative;

  > svg {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: $spacing-05;
    transform: translateY(-50%);
  }

  :global(.#{$prefix}--text-input) {
    padding-inline-start: rem(47px);
  }
}

.frameworks {
  display: flex;
  gap: $spacing-03;
}

.frameworkAll {
  &:global(.cds--tag.cds--tag--operational.selected) {
    background-color: $layer-02;
    border-color: $layer-02;
    color: $text-dark;
  }
}
