/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.section {
  &:not(:last-child) {
    margin-bottom: rem(48px);
  }
}

.title {
  font-size: rem(18px);
  font-weight: 600;
  line-height: 1.3;

  &.defaultSpacing {
    margin-bottom: rem(10px);
  }

  &.largeSpacing {
    margin-bottom: $spacing-05;
  }
}
