/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.searchBar {
  position: relative;

  :global(.cds--text-input) {
    // 47px = 48px - 1px for the left border
    padding-inline-start: rem(47px);

    // 48px = because using negative outline-offset for the .toggleButton (it is exactly 48px in width)
    // 1rem = about the same space as on the left after the Search icon
    // 0.25rem = additional space to make it optically look even with the space on the left side (especially when focused which uses a thick dark vertical line)
    padding-inline-end: calc(rem(48px) + 1rem + 0.25rem);
  }
}

.searchIcon {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: $spacing-05;
  transform: translateY(-50%);
}

.popoverContainer {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.toggleButton {
  .searchBar:not(:focus-within) & {
    outline-offset: -1px;
    outline: 1px solid $border-subtle-00;
  }

  .searchBar:focus-within & {
    outline-offset: -2px;
    outline: 2px solid $button-primary;
  }

  .arrayFiltersActive &:global(.cds--btn--primary) {
    outline-offset: -1px;
    outline: 1px solid $button-primary;
  }
}

.frameworksAll {
  &:global(.cds--tag.cds--tag--operational.selected) {
    background-color: $layer-02;
    border-color: $layer-02;
    color: $text-dark;
  }
}
