/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  font-size: rem(42px);
  line-height: math.div(60, 42);
  font-weight: 300;
  text-wrap: pretty;
  white-space: pre-line;
  &.ui--chat {
    @include font-family(serif);
  }
  &.ui--hands-off {
    line-height: math.div(46, 42);
  }
}
