/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include font-family(serif);
  font-size: rem(42px);
  line-height: math.div(60, 42);
  font-weight: 300;
  text-wrap: pretty;
  white-space: pre-line;
}
