/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: $gap;
}

.count {
  font-size: rem(14px);
  line-height: 1.5;
  color: $text-secondary;
  margin-inline-end: auto;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}
