/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include type-style(label-01);
  color: $text-secondary;
  display: flex;
  gap: $spacing-03;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  gap: $spacing-02;
  white-space: no-wrap;

  &:not(:last-child) {
    padding-inline-end: $spacing-03;
    border-inline-end: 1px solid $border-subtle-00;
  }
}

.sourceCodeLink {
  display: flex;
  column-gap: $spacing-02;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $text-primary;
  }
}
