/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: rem(16px);
  block-size: rem(16px);
  :global(.cds--inline-loading__animation) {
    margin-inline-end: 0;
  }
}

.button {
  @include hide-popover();

  :global(.cds--btn) {
    inline-size: rem(24px);
    block-size: rem(24px);
    min-block-size: 0;
    &:hover,
    &:active {
      background-color: transparent;
    }
    &:focus {
      outline-offset: 2px;
    }
  }
}
