/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.tag {
  flex-shrink: 0;

  &:global(.#{$prefix}--tag--lg) {
    padding-inline-start: rem(7px) !important;
    padding-inline-end: rem(7px) !important;

    :global(.#{$prefix}--tag__custom-icon) {
      block-size: rem(18px);
      inline-size: rem(18px);

      > svg {
        block-size: rem(18px) !important;
        inline-size: rem(18px) !important;
      }
    }
  }
}
