*

!/agents/
!/apps/
!/docs/
!/helm/
!/mise.toml
!/mise.lock
!/mise.local.toml-example
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/pyproject.toml
!/uv.lock

# Python
.ruff-cache
.venv

# Docker
Dockerfile
.dockerignore

# Node
node_modules
.next

# Misc
dist
