/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;
  z-index: z('modal');
}

.modal {
  &:global(.cds--modal) {
    @include scrollbar();
    background-color: $modal-background;
  }

  :global(.cds--modal-container) {
    inline-size: 100%;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    min-block-size: 0;
    margin-inline: auto;
    max-inline-size: rem(608px);
    box-sizing: content-box;
    background-color: $background;
    > * {
      box-sizing: border-box;
    }
    &:global(.cds--modal-container--xs) {
      max-inline-size: rem(400px);
    }
    &:global(.cds--modal-container--sm) {
      max-inline-size: rem(568px);
    }
    &:global(.cds--modal-container--md) {
      max-inline-size: rem(672px);
    }
    &:global(.cds--modal-container--lg) {
      max-inline-size: rem(928px);
    }
  }

  :global(.cds--modal-header) {
    padding: $spacing-05;
    margin-block-end: 0;
    h2 {
      font-size: rem(32px);
      line-height: math.div(42, 32);
      font-weight: 400;
      padding-inline-end: 0;
      + *:global(:not(.cds--modal-close-button)) {
        margin-block-start: $spacing-05;
      }
    }
  }

  :global(.cds--modal-header:has(.cds--modal-close-button)) {
    h2 {
      padding-inline-end: $spacing-09;
    }
  }

  :global(.cds--modal-header + .cds--modal-content) {
    padding-block-start: 0;
  }

  :global(.cds--modal-content) {
    padding: $spacing-05;
    &:global(.cds--modal-scroll-content) {
      mask-image: none;
      border-block-end: 0;
      > :last-child {
        margin-block-end: 0;
      }
    }
    &:focus {
      outline: none;
    }
  }

  :global(.cds--modal-content:has(+ .cds--modal-footer)) {
    padding-block-end: 0;
  }

  :global(.cds--modal-footer) {
    border-radius: 0 0 $border-radius $border-radius;
    padding: $spacing-06 $spacing-05 $spacing-05;

    &:global(.cds--btn-set) {
      block-size: auto;
      gap: $spacing-04;
    }

    :global(.cds--btn) {
      block-size: rem(48px);
      display: flex;
      align-items: center;
      flex: 0 1 auto;
      white-space: nowrap;
      inline-size: auto;
      &:not(:focus) {
        box-shadow: none;
      }
      &,
      &:global(:not(.cds--skeleton)) {
        padding-block: 0;
      }
      &:last-child {
        flex-grow: 0;
      }
      &:global(.cds--btn--ghost) {
        padding-inline-end: rem(39px);
        &:last-child {
          padding-inline-end: rem(23px);
        }
      }
    }
  }

  :global(.cds--modal-close) {
    &:hover {
      background-color: $background-hover;
    }
  }

  :global(.cds--modal-close-button) {
    @include hide-popover();
    inset-block-start: $spacing-03;
    inset-inline-end: $spacing-03;

    :global(.cds--btn) {
      svg {
        min-inline-size: rem(24px);
        block-size: rem(24px);
      }
    }
  }
}

@include breakpoint-up(md) {
  .modal {
    :global(.cds--modal-header) {
      padding: $spacing-07;
    }

    :global(.cds--modal-header:has(.cds--modal-close-button)) {
      h2 {
        padding-inline-end: rem(56px);
      }
    }

    :global(.cds--modal-content) {
      padding: $spacing-07;
    }

    :global(.cds--modal-footer) {
      padding: $spacing-09 $spacing-07 $spacing-07;

      :global(.cds--btn) {
        padding-inline-end: rem(49px);
        padding-block: 0;
      }
    }

    :global(.cds--modal-close-button) {
      inset-block-start: rem(20px);
      inset-inline-end: rem(20px);
    }
  }
}
