/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include type-style(body-01);

  > * + * {
    margin-block-start: rem(20px);
  }

  p {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  ul {
    list-style: disc;
    padding-inline-start: $spacing-06;
  }

  ol {
    list-style: decimal;
    padding-inline-start: $spacing-06;
  }

  ol ul {
    list-style: lower-latin;
  }

  ol ul ul {
    list-style: disc;
  }

  ol ul ul ol {
    counter-reset: list;
    padding-inline-start: rem(20px);
    li {
      counter-increment: list;
      &::marker {
        content: '(' counter(list, decimal) ') ';
      }
    }
  }

  h2 {
    @include type-style(heading-03);
  }

  h3,
  h4 {
    @include type-style(heading-01);
  }

  h5,
  h6 {
    @include type-style(body-01);
    + * {
      margin-block-start: 0;
    }
  }

  hr {
    background: $border-subtle-00;
    block-size: 1px;
    border: none;
  }

  pre {
    white-space: pre-wrap;
  }
}
