/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  min-block-size: 100%;
  display: flex;
  align-items: center;
  color: $text-dark;
}

.image {
  max-inline-size: 100%;
  block-size: auto;
  margin-block-end: $spacing-06;
  fill: currentColor;
}

.heading {
  line-height: math.div(50, 42);
}

.description {
  font-size: rem(20px);
  line-height: math.div(26, 20);
  margin-block-start: $spacing-03;
}

.button {
  &:global(.cds--btn) {
    margin-block-start: $spacing-06;
  }
}
