.root {
  display: flex;
  flex-direction: column;
  gap: $spacing-03;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: $gap;
}

.heading {
  font-size: rem(24px);
  line-height: math.div(28, 24);
  font-weight: normal;
  color: $text-dark;
}

.label {
  inline-size: 100%;
}
