/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  z-index: z('modal');
}

.content {
  @include type-style(label-02);
  background-color: $background-inverse;
  color: $text-inverse;
  border-radius: $border-radius;
  max-inline-size: rem(264px);

  .root.sm & {
    padding: $spacing-02 $spacing-03;
  }
  .root.md & {
    padding: $spacing-04 $spacing-05;
  }
  .root.lg & {
    padding: $spacing-04;
    max-inline-size: rem(294px);
  }
  a {
    color: $link-inverse;
  }
}

.arrow {
  fill: $background-inverse;
}
