/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use '@carbon/styles/scss/theme' as *;
@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/utilities/convert' as *;
@use 'sass:math';

@mixin line-clamp($lines: 1) {
  overflow: hidden;
  @if ($lines == 1) {
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    --line-clamp-lines: #{$lines};
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp-lines);
    -webkit-box-orient: vertical;
  }
}

@mixin link-mask($inset: 0) {
  &::before {
    content: '';
    position: absolute;
    inset: $inset;
  }
}

@mixin scrollbar() {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $layer-03 transparent;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    inline-size: $spacing-05;
    block-size: $spacing-05;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border: solid transparent;
    border-width: $spacing-02;
    border-radius: $spacing-03;
    background: $layer-03;
    background-clip: padding-box;
  }
}

@mixin h1() {
  font-size: rem(24px);
  line-height: math.div(31, 24);
  font-weight: 400;
  margin-block-end: $spacing-06;
}

@mixin hide-popover() {
  :global(.cds--popover) {
    display: none;
  }
}

@mixin reset-focus() {
  &:focus:not(:focus-visible) {
    box-shadow: none;
    border-color: transparent;
  }
}
