/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'common' as *;
@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/fonts';
@use '@carbon/styles/scss/grid';
// @use '@carbon/styles/scss/layer';
// @use '@carbon/styles/scss/layout';
// @use '@carbon/styles/scss/zone';

@use 'components';

:root {
  --header-height: #{rem(56px)};
  --header-border-height: #{rem(1px)};
}

:root,
.cds--white {
  @include theme($light);
}

.cds--g90 {
  @include theme($dark);
}

body {
  overflow: hidden;
}

a {
  &:focus-visible {
    @include focus-outline('outline');
    outline-offset: 0;
    border-radius: $spacing-02;
  }
}

h1 {
  @include h1();
}

::view-transition-old(main),
::view-transition-new(main) {
  animation-duration: $duration-moderate-02;
}

::view-transition-old(main) {
  opacity: 1;
}
::view-transition-old(main).view-transition-leaving {
  opacity: 0;
}

::view-transition-new(main) {
  opacity: 0;
}
::view-transition-new(main).view-transition-entering {
  opacity: 1;
}
