/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;
  border: 1px solid $border-subtle-00;
  border-radius: $border-radius;
  &:has(textarea:focus-visible) {
    border-color: $text-dark;
  }
}

.files {
  padding-block-start: rem(11px);
  padding-inline: rem(11px);
}

.textarea {
  max-block-size: rem(192px);
  overflow-y: auto;
  &::after,
  > textarea {
    padding: rem(11px) rem(11px) $spacing-03;
    border-radius: calc($border-radius - 1px) calc($border-radius - 1px) 0 0;
    border: 0;
  }
  > textarea {
    color: inherit;
    background-color: $background;
    &::placeholder {
      transition: opacity $duration-fast-02;
      color: $text-placeholder;
    }
    &:focus-visible {
      outline: 0;
      &::placeholder {
        opacity: 0.5;
      }
    }
  }
}

.actionBar {
  padding: 0 rem(11px) rem(11px);
  display: flex;
  justify-content: space-between;
  column-gap: $spacing-04;
}

.actionBarStart {
  display: flex;
  align-items: center;
  gap: $spacing-03;
}

.settings {
  display: flex;
  :global(.#{$prefix}--btn) {
    &:hover,
    &:active,
    &[aria-expanded='true'] {
      background-color: $button-primary;
      color: $text-inverse;
    }
    &:not([disabled]) svg {
      fill: currentColor;
    }
  }
  [aria-owns] :global(.#{$prefix}--popover) {
    display: none;
  }
}

.submit {
  margin-inline-start: auto;
}
