/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.heading {
  @include type-style(heading-03);
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-04;
}
