/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.root {
  position: relative;
  inline-size: 100%;
  z-index: z('modal') - 1;
}

.content {
  background-color: $layer;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $spacing-05;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-06;
}
