/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
}

.heading {
  min-inline-size: 0;
  font-size: rem(14px);
  line-height: math.div(18, 14);
  padding-block: 1px;
  flex-grow: 1;
}
