/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  block-size: rem(32px);
  inline-size: rem(32px);
  border-radius: 50%;
  background-color: $layer-02;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    block-size: rem(16px);
  }
}
