/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-04;
  padding-inline: $spacing-05;
  @include scrollbar();
}

.heading {
  font-size: rem(14px);
  line-height: math.div(18, 14);
  font-weight: 600;
  letter-spacing: $letter-spacing;
  padding-inline: $spacing-03;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-02;
}

.button {
  @include reset-focus();
  inline-size: 100%;
  padding: $spacing-03 - rem(1px);

  &:global(.cds--skeleton) {
    inline-size: 100%;
    min-block-size: rem(34px);
  }

  &.isActive {
    background-color: $layer-02;
  }
}
