/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--accordion__heading {
  flex-direction: row;
  padding-inline-end: 0;
}
.cds--accordion__title {
  padding-inline-start: $spacing-03;
}
