/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--btn {
  border-radius: $border-radius;
  padding-inline-end: rem(49px);
  .cds--inline-loading__text {
    color: inherit;
  }
}

.cds--skeleton {
  &.cds--btn {
    overflow: hidden;
  }
  &.cds--btn--sm {
    min-block-size: rem(32px);
  }
}

.cds--btn--icon-only {
  padding: 0;
  align-items: center;
}

.cds--btn--ghost {
  &,
  &:hover,
  &:active,
  &:focus {
    color: $button-tertiary;
  }
}

.cds--btn--primary {
  &,
  &:hover,
  &:active,
  &:focus {
    color: $button-primary-color;
  }
}

.cds--btn--tertiary {
  border-color: $border-subtle-00;
  &:hover,
  &:active,
  &:focus {
    color: $button-tertiary;
    background-color: $button-tertiary-hover;
  }
  &:focus {
    border-color: $focus;
    background-color: transparent;
  }
  &:active {
    background-color: $background-active;
    &:not(:focus) {
      border-color: $border-subtle-00;
    }
  }
}

.cds--btn.cds--btn--disabled:not(.cds--btn--ghost) {
  &,
  &:hover,
  &:focus {
    background-color: $button-disabled;
    border-color: $button-disabled;
    color: $button-disabled-color;
  }
}
