/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--checkbox-group {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-03;
}

.cds--form-item.cds--checkbox-wrapper {
  margin-block-end: 0;
  &:last-of-type {
    margin-block-end: rem(1px);
  }
  .cds--label + & {
    margin-block-start: 0;
  }
}

.cds--checkbox-label {
  padding-block: rem(1px);
  &::before {
    margin: 0 rem(2px);
  }
  &::after {
    margin-block-start: rem(-4px);
    margin-inline-start: rem(-1px);
  }
}

.cds--checkbox-label-text {
  @include type-style(body-compact-01);
  padding-inline-start: $spacing-03;
}
