/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--data-table {
  border: 1px solid $border-subtle-00;
  border-collapse: separate;
  border-radius: $border-radius;
  tr {
    block-size: auto;
  }
  th,
  td {
    padding: rem(15px);
    block-size: rem(64px);
    vertical-align: top;
  }
  td,
  tbody th {
    border: 0;
  }
  thead {
    tr:first-child th {
      &:first-child {
        border-start-start-radius: calc($border-radius - 1px);
      }
      &:last-child {
        border-start-end-radius: calc($border-radius - 1px);
      }
    }
  }
  tbody {
    background-color: transparent;
    td,
    tr:hover th,
    tr:hover td {
      border-block-start: 1px solid $border-subtle-00;
    }
    tr:hover th,
    tr:hover td {
      border-block-end: 0;
    }
    tr:last-child td {
      &:first-child {
        border-end-start-radius: calc($border-radius - 1px);
      }
      &:last-child {
        border-end-end-radius: calc($border-radius - 1px);
      }
    }
  }
}

.cds--data-table-container.cds--skeleton {
  padding-block-start: 0;
}
