/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--inline-loading__checkmark-container {
  fill: $background-inverse;
}

.cds--inline-loading {
  min-block-size: 0;
}

.cds--inline-loading__animation {
  overflow: hidden;
}
