/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--text-area,
.cds--text-input {
  border: 1px solid $border-subtle-00;
  border-radius: $border-radius;
  background-color: $layer;
  &,
  .cds--modal & {
    background-color: transparent;
  }
  &:focus-within {
    outline: 2px solid $background-inverse;
  }
}

.cds--text-area {
  padding-block: $spacing-05;
}

.cds--form__helper-text {
  color: $text-helper;
}

.cds--skeleton.cds--text-area,
.cds--skeleton.cds--text-input {
  overflow: hidden;
}
