@use 'styles/common' as *;

.cds--text-area,
.cds--text-input {
  border: 1px solid $border-subtle-00;
  border-radius: $spacing-03;
  background-color: $layer;
  &,
  .cds--modal & {
    background-color: transparent;
  }
}

.cds--text-area {
  padding-block: $spacing-05;
}
