@use 'styles/common' as *;

.#{$prefix}--text-area,
.#{$prefix}--text-input {
  border: 1px solid $border-subtle-00;
  border-radius: $spacing-03;
  background-color: $layer;
  &,
  .#{$prefix}--modal & {
    background-color: transparent;
  }
}

.#{$prefix}--text-area {
  padding-block: $spacing-05;
}
