/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

$divider-height: 1px;

.cds--overflow-menu__wrapper .cds--popover {
  display: none;
}

.cds--overflow-menu.cds--overflow-menu--open {
  box-shadow: none;
  background-color: $layer-hover;
}

.cds--overflow-menu-options {
  padding: $spacing-04 $spacing-03;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $background;
  inline-size: rem(224px);
  row-gap: $spacing-02;

  &::after {
    display: none;
  }

  .cds--overflow-menu-options__option {
    block-size: rem(28px);
  }

  .cds--overflow-menu-options__option--group-label {
    block-size: rem(16px);
    margin-block-end: $spacing-02;
    .cds--overflow-menu-options__btn {
      @include type-style(label-01);
      color: $text-secondary;
      padding: 0;
    }
  }
}

.cds--overflow-menu-options__option {
  border-radius: inherit;
}

.cds--overflow-menu--divider {
  margin-block-start: calc($spacing-04 + $divider-height + $spacing-03);
  border-block-start: 0;
  display: block;
  position: relative;
  &::before {
    content: '';
    block-size: $divider-height;
    background-color: $border-subtle-00;
    display: block;
    inline-size: 100%;
    position: absolute;
    inset-block-start: calc(($spacing-04 + $divider-height) * -1);
  }
}

.cds--overflow-menu-options__btn {
  max-inline-size: none;
  color: $text-dark;
  padding-inline: $spacing-03;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: $spacing-03;
  text-decoration: none;
  text-align: start;
  &:focus-visible {
    border-radius: inherit;
  }
  @at-root a#{&}::before {
    display: none;
  }
  svg {
    flex-shrink: 0;
    fill: $text-primary;
  }
}
