/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--radio-button__label {
  padding-block: 1px;
  column-gap: $spacing-03;
}

.cds--radio-button__appearance {
  margin: 0 1px;
  border-color: $text-placeholder;
}
