/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--tag {
  margin: 0;
  min-inline-size: 0;

  &.cds--tag--selectable.cds--tag--outline:not(:disabled) {
    border: 1px solid $border-subtle-00;
    outline: none;
    &:hover {
      background-color: $layer-hover-01;
    }
    &.cds--tag--selectable-selected {
      background-color: $background-inverse;
      color: $text-inverse;
    }
  }

  &.cds--tag--operational {
    border-color: $border-subtle-00;
    background-color: $layer;
    &:hover {
      background-color: $layer-hover-01;
    }

    &.selected {
      background-color: $background-inverse;
      border-color: $background-inverse;
      color: $text-inverse;
    }
  }
}

.cds--tag:has(.cds--tag__custom-icon + .cds--tag__label:empty) {
  padding-inline-end: $spacing-02;
  .cds--tag__custom-icon {
    margin-inline-end: 0;
  }
}
