/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;
@use 'sass:math';

.cds--toggle {
  --cds-support-success: #{$text-primary};
  --cds-icon-on-color: #{$text-inverse};
  padding-block: 1px;
}

.cds--toggle__appearance {
  vertical-align: top;
}

.cds--toggle__text {
  line-height: math.div(16, 14);
  min-inline-size: rem(20px);
}
