/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  border-radius: $spacing-03;
  overflow: hidden;
}

.img {
  max-inline-size: 100%;
  block-size: auto;
}
