/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.root {
  overflow-x: auto;
}

.table {
  @include type-style(body-01);
  &,
  th,
  td {
    border: 1px solid $border-subtle-00;
  }
  th,
  td {
    padding: $spacing-03 $spacing-04;
  }
  th {
    font-weight: bold;
  }
}
