/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  inline-size: rem(24px);
  block-size: rem(24px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $border-subtle-00;
  flex-shrink: 0;
  svg {
    fill: currentColor;
  }
}
