.root {
  block-size: 100%;
  display: flex;
}

.holder {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  row-gap: $spacing-06;
}

.header {
  padding-block: $spacing-03;
  display: flex;
  justify-content: space-between;
  background-color: $layer;

  h1 {
    font-size: rem(16px);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: $spacing-03;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  padding-block: $spacing-06;

  > ol {
    display: flex;
    flex-direction: column;
    gap: $spacing-09;
  }
}

.scrollRef {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.bottom {
  position: relative;
  min-inline-size: 0;
}

.toBottomButton {
  &:global(.cds--tooltip) {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
