/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
}

.button {
  block-size: rem(52px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $spacing-04;
  max-inline-size: none;
  inline-size: 100%;
  padding: 0;

  > span {
    inline-size: rem(32px);
    block-size: rem(32px);
    border: 2px dashed $border-subtle;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition: border-color $duration-fast-01 ease-out;
  }
  &:hover,
  &:active,
  &.active,
  &:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-color: transparent;
    > span {
      border-color: $text-primary;
    }
  }
}

.list {
  inline-size: 100%;
  border-radius: $border-radius;
  background-color: $background;
  box-shadow: $box-shadow;
  overflow: hidden;
  opacity: 1;
  transition:
    opacity $duration-fast-02 ease-out,
    transform $duration-fast-02 ease-out;
  block-size: auto;
  transform: translate(0, 0);

  &[aria-expanded='false'] {
    opacity: 0;
    block-size: 0;
    transform: translate(0, $spacing-04);
  }
}
