/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  padding-inline: $spacing-05;
  transition: background-color $duration-fast-01 ease-out;
  cursor: pointer;

  &:hover {
    background-color: $background-hover;
  }
}

.content {
  padding-block: $spacing-05;
}

.name {
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
  margin-block-end: $spacing-04;
}

.description {
  @include type-style(label-01);
  color: $text-secondary;
  margin-block-end: $spacing-03;
}

.skeleton {
  padding-block: $spacing-04;
}
