/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: $spacing-04;
  transition: block-size $duration-fast-01 ease-in-out;

  &:last-child {
    .left::before,
    .left::after {
      display: none;
    }
  }

  &.status-pending {
    .bullet {
      background-color: $background;
    }
  }
  &.status-finished {
    .left::after {
      block-size: 100%;
    }
    .bullet {
      background-color: $background-inverse;
      color: $text-inverse;
    }
  }
}

.left {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset-inline-start: rem(16px);
    inset-block-start: rem(8px);
    inline-size: 1px;
    block-size: 100%;
    background-color: $border-subtle;
  }
  &::after {
    block-size: 0;
    background-color: $background-inverse;
    transition: block-size $duration-slow-01 ease-out;
  }

  .bullet {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: rem(32px);
    inline-size: rem(32px);
    border-radius: 50%;
    overflow: hidden;
    font-size: rem(16px);
    font-weight: 600;
    background-color: $layer-02;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-inline-size: 100%;
  overflow: hidden;
  padding-block-end: $spacing-05;
}

.name {
  display: flex;
  align-items: center;
  min-block-size: rem(32px);
  margin-block-end: $spacing-04;
  padding-inline-end: $spacing-08;
}

.actions {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.input p {
  @include type-style('body-01');
  color: $text-secondary;
}

.textarea {
  padding-block-end: $spacing-06;

  &::after,
  textarea {
    @include type-style('body-compact-01');
    border: 1px solid $border-subtle;
    border-radius: $border-radius;
  }
}

.run {
  margin-block-start: $spacing-04;

  :global(.cds--accordion__content) {
    padding: 0;
    overflow-x: auto;
  }
  :global(.cds--accordion__item) {
    border-block: 0;
  }
  :global(.cds--inline-loading__animation) {
    margin-inline-end: 0;
  }

  &.pending {
    :global(.cds--accordion__heading) {
      pointer-events: none;
    }
    :global(.cds--accordion__arrow) {
      display: none;
    }
    .logsGroup {
      :global(.cds--accordion__heading) {
        display: none;
      }
      :global(.cds--accordion__wrapper) {
        padding-block-end: 0;
      }
    }
  }
}

.logs {
  @include scrollbar();
  max-block-size: 40vh;
  display: flex;
  flex-direction: column;
  padding-block-end: $spacing-05;
  > div {
    font-size: rem(12px);
    color: $text-secondary;
  }

  > button {
    display: none;
  }
}

.resultGroup {
  &.empty {
    :global(.cds--accordion__heading) {
      pointer-events: none;
    }
    :global(.cds--accordion__arrow) {
      display: none;
    }
  }
}
.result {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  inline-size: 100%;
}

.loading {
  display: flex;
  align-items: center;
  gap: $spacing-03;
}

.elapsed {
  @include type-style('label-01');
  font-size: 12px;
  color: $text-secondary;
}
