/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  margin-block-start: $spacing-04;

  :global(.cds--accordion__content) {
    padding: 0;
    overflow-x: auto;
  }
  :global(.cds--accordion__item) {
    border-block: 0;
  }
  :global(.cds--inline-loading__animation) {
    margin-inline-end: 0;
  }

  &.pending {
    :global(.cds--accordion__heading) {
      pointer-events: none;
    }
    :global(.cds--accordion__arrow) {
      display: none;
    }
    .logsGroup {
      :global(.cds--accordion__heading) {
        display: none;
      }
      :global(.cds--accordion__wrapper) {
        padding-block-end: 0;
      }
    }
  }
}

.logs {
  @include scrollbar();
  max-block-size: 40vh;
  display: flex;
  flex-direction: column;
  padding-block-end: $spacing-05;
  > div {
    font-size: rem(12px);
    color: $text-secondary;
  }

  > button {
    display: none;
  }
}

.resultGroup {
  &.empty {
    :global(.cds--accordion__heading) {
      pointer-events: none;
    }
    :global(.cds--accordion__arrow) {
      display: none;
    }
  }
}
.result {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  inline-size: 100%;
}
