/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: sticky;
  inset-block-start: 0;
  background-color: $background;
  border-block-end: 1px solid $border-subtle-00;
}

.holder {
  display: flex;
  column-gap: $gap;
  justify-content: space-between;
  align-items: center;
  block-size: rem(48px);
}
