/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.description {
  @include type-style(body-01);
  color: $text-secondary;
}

.stack {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-06;
}
