/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.name {
  inline-size: 30%;
  word-break: break-all;
}

.value {
  @include line-clamp();
  max-inline-size: 0;
}
