/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  :global(.cds--modal-footer) {
    :global(.cds--btn--danger) {
      column-gap: $spacing-05;
      padding-inline-end: $spacing-05;
      svg {
        flex-shrink: 0;
      }
    }
  }
}
