.heading {
  font-size: rem(24px);
  line-height: math.div(28, 24);
  font-weight: bold;
}

.root {
  :global(.cds--modal-header) {
    padding: $spacing-05 $spacing-05 0;
  }

  :global(.cds--modal-content) {
    margin: 0;
    padding: $spacing-03 $spacing-05 $spacing-07;
    min-block-size: rem(100px);
  }

  :global(.cds--modal-footer) {
    :global(.cds--btn--ghost) {
      color: currentColor;
    }

    :global(.cds--btn--danger) {
      column-gap: $spacing-05;
      padding-inline-end: $spacing-05;
      svg {
        flex-shrink: 0;
      }
    }
  }
}
