/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

$max-container: get-value($grid-breakpoints, 'max.width');

.holder {
  display: flex;
  column-gap: $gap;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: $spacing-05 $spacing-06;
}

.copyright {
  font-size: rem(12px);
  line-height: math.div(16, 12);
  color: $text-helper;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.communityNav {
  margin-inline-start: auto;
}

@include breakpoint-down(md) {
  .holder {
    flex-direction: column-reverse;
    gap: $spacing-05;
  }
}

@media (min-width: 125rem) {
  .communityNav {
    position: absolute;
    inset-block-end: $spacing-06;
    inset-inline-end: $grid-margin;

    inset-inline-end: auto;
    inset-inline-start: calc(50% + math.div($max-container, 2) - var(--scrollbar-width, 0));
    transform: translateX(-50%);
  }
}
