/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: grid;
  block-size: 100dvh;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: stretch;
  grid-template-rows: 1fr;
  overflow: hidden;
  view-transition-name: main;
}
