/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'sass:map';

$sizes: (
  xs: rem(504px),
  sm: rem(608px),
  md: rem(768px),
  lg: rem(928px),
  xlg: rem(1088px),
  xxl: rem(1248px),
  max: rem(1648px),
  full: auto,
);

.root {
  margin-inline: auto;
  padding-inline: $grid-margin;
  inline-size: 100%;
  @each $size, $width in $sizes {
    &.#{$size} {
      max-inline-size: calc($width + 2 * $grid-margin);
    }
  }
}
