@use 'sass:map';

.root {
  margin-inline: auto;
  padding-inline: $grid-margin;
  inline-size: 100%;
  &.sm {
    max-inline-size: calc(rem(504px) + 2 * $grid-margin);
  }
  &.md {
    max-inline-size: calc(rem(768px) + 2 * $grid-margin);
  }
  &.xlg {
    max-inline-size: get-value($grid-breakpoints, 'xlg.width');
  }
}
