/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: grid;
  align-items: center;
  min-block-size: 100dvh;
  padding-block: $spacing-09;
  text-align: center;
}
