/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  block-size: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: $spacing-05;
}

.footer {
  padding-inline: $spacing-05;
  display: flex;
}
