apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-cm
data:
  base.yaml: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318 # overriden by the server

    exporters:
      debug:
        verbosity: detailed
      otlp/phoenix:
        endpoint: phoenix-svc:8336
        tls:
          insecure: true

    processors:
      memory_limiter:
        check_interval: 1s
        limit_mib: 1000
      batch:
      filter/phoenix:
        traces:
          span:
            ## Filter for openinference packages
            #### Python format `openinference.instrumentation.${package_name}`
            #### - crewAI exception `crewai.telemetry`
            #### Javascript format `@arizeai/openinference-instrumentation-${packageName}`
            - not(IsMatch(instrumentation_scope.name, "^openinference\\.instrumentation\\..*") or IsMatch(instrumentation_scope.name, "^@arizeai/openinference-instrumentation-.*") or instrumentation_scope.name == "crewai.telemetry")

    extensions:
      health_check:

    service:
      extensions: [ health_check ]
      pipelines:
        traces/phoenix:
          receivers: [ otlp ]
          processors: [ memory_limiter, filter/phoenix, batch ]
          exporters: [ otlp/phoenix ]
  beeai.yaml: |
    exporters:
      otlphttp/beeai:
        endpoint: https://collector.telemetry.beeai.dev

    processors:
      memory_limiter/beeai:
        check_interval: 1s
        limit_mib: 2000
      filter/beeai:
        traces:
          span:
            - 'resource.attributes["service.name"] != "beeai-server"'

    service:
      pipelines:
        metrics/beeai:
          receivers: [ otlp ]
          processors: [ memory_limiter/beeai, filter/beeai, batch ]
          exporters: [ otlphttp/beeai ]
