.root {
  position: relative;
  block-size: rem(40px);

  code {
    @include type-style(body-01);
    display: block;
  }
  .content {
    white-space: pre-wrap;
    word-break: break-word;
    background-color: $layer;
    border-radius: $border-radius;
    padding: $spacing-04 rem(52px) rem(10px) $spacing-05;
  }
}

.button {
  position: absolute;
  inset-block-start: rem(5px);
  inset-inline-end: rem(6px);

  button {
    display: flex;
    align-items: center;
  }
}
