/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root:global(.cds--btn) {
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
  padding: 0;
  border: 0;
  min-block-size: 0;
  font-size: rem(14px);
  line-height: math.div(18, 14);
  letter-spacing: $letter-spacing;
  color: $expand-button-color;
  &:hover,
  &:active {
    background-color: transparent;
  }
  &:focus {
    box-shadow: none;
  }
  &:focus-visible {
    @include focus-outline('outline');
    outline-offset: 0;
    border-radius: $spacing-02;
  }

  > svg {
    fill: currentColor;
  }

  &[aria-expanded='true'] > svg {
    transform: scaleY(-1);
  }
}
