/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.heading {
  margin-block-end: $spacing-08;

  h1 {
    margin-block-end: $spacing-02;
  }
  p {
    color: $text-secondary;
  }
}

.workflows {
  display: flex;
  gap: $spacing-07;
  justify-content: stretch;
  align-items: stretch;
}

.workflow {
  background-color: $background;
  box-shadow: $box-shadow;
  inline-size: 100%;
  padding: $spacing-05;
  border: 2px solid transparent;
  transition: border-color $duration-fast-01 ease-out;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-05;

  &:not([aria-disabled='true']):hover,
  &[aria-selected='true'] {
    border-color: $text-primary;
  }
  &[aria-disabled='true'] {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .name {
    color: $text-primary;
    text-decoration: none;
    font-weight: 600;
    font-size: rem(18px);
    line-height: 1em;
    display: block;
    margin-block-end: $spacing-05;
  }

  p {
    @include type-style('body-compact-01');
    font-size: rem(16px);
  }
}

.actionBar {
  margin-block-start: $spacing-07;
  display: flex;
  justify-content: flex-end;

  .startBtn {
    inline-size: rem(202px);
  }
}
