.root {
  padding-block-start: $spacing-05;

  .name {
    font-size: rem(50px);
    line-height: math.div(65, 50);
    margin-block-end: $spacing-05;
  }

  .metadata {
    margin-block-end: $spacing-03;
  }

  .description {
    max-inline-size: 80%;
    font-size: rem(18px);
    line-height: math.div(24, 18);
    color: $text-secondary;
  }

  .tags {
    margin-block-start: $spacing-05;
  }

  .buttons {
    display: flex;
    align-items: flex-start;
    gap: $spacing-05;
    margin-block-start: $spacing-06;
  }

  .tryButton {
    min-inline-size: rem(208px);
  }

  .copySnippet {
    min-inline-size: rem(288px);
  }

  .divider {
    inline-size: 100%;
    border: none;
    border-block-start: 1px solid $border-subtle;
    margin-block: $spacing-09;
  }
}
