/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: inline-flex;
  align-items: center;
  column-gap: $spacing-02;
  color: $support-error-inverse;
  font-size: rem(14px);
  line-height: math.div(16, 14);
  letter-spacing: $letter-spacing;
}
