.root {
  min-block-size: 100%;
  display: flex;
  align-items: center;
}

.holder {
  max-inline-size: rem(400px);
}

.description {
  font-size: rem(24px);
  line-height: math.div(32, 24);
  color: $text-dark;
  margin-block-start: $spacing-08;
}

.bottom {
  display: flex;
  align-items: flex-start;
  column-gap: $spacing-05;
  margin-block-start: $spacing-06;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-03;
  flex-grow: 1;
}

.button {
  &:global(.cds--btn) {
    inline-size: 100%;
    border-color: $text-dark;
  }
}

.link {
  font-size: rem(12px);
  line-height: math.div(18, 12);
  letter-spacing: rem(0.16px);
  max-inline-size: max-content;
  text-decoration: none;
  color: $text-secondary;
  &:hover {
    color: $text-primary;
  }
}
