/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  &:global(.cds--btn) {
    @include type-style(label-01);
    min-inline-size: rem(84px);
    column-gap: $spacing-03;
    justify-content: flex-start;
    align-items: center;
    padding-inline-end: rem(20px);
  }
}
