/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.container {
  position: relative;
  block-size: rem(72px);
}

.placeholder,
.animation {
  position: absolute;
  block-size: rem(209px);
  margin-inline-start: rem(-27px);
  margin-block-start: rem(-68px);
  path {
    fill: currentColor;
  }
}

.placeholder {
  .loaded & {
    visibility: hidden;
  }
}
