/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;
  display: flex;
  min-block-size: rem(40px);
  color: $text-dark;
  border: 1px solid $text-dark;
  border-radius: $border-radius;
  background-color: $layer;

  &.block {
    --cds-layer: #{$layer-02};

    min-block-size: rem(48px);
    border: none;
    border-radius: 0;
  }
}

.content {
  @include type-style(label-01);

  white-space: pre-wrap;
  word-break: break-word;
  padding: rem(11px) rem(15px);
  flex-grow: 1;

  .block & {
    padding: unset;
  }
}

.button {
  @include hide-popover();
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-inline-start: 1px solid $text-dark;

  .block & {
    border: none;
    margin: rem(8px) rem(8px) auto 0;
  }

  > div,
  :global(.cds--tooltip),
  :global(.cds--tooltip-trigger__wrapper) {
    block-size: 100%;
  }

  :global(.cds--btn) {
    --cds-icon-primary: currentColor;

    border-radius: 0 $border-radius $border-radius 0;
    inline-size: rem(40px);
    block-size: calc(100% + 2px);
    margin: -1px;

    .block & {
      border-radius: $border-radius;
      inline-size: rem(32px);
      min-block-size: rem(32px);
      margin: 0;
    }

    &:disabled {
      color: currentColor;
    }

    &:hover {
      --cds-icon-primary: #{$text-inverse};

      background-color: $text-dark;
    }
  }
}
