/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

$item-inline-padding: $spacing-04;

.list {
  display: flex;
  margin-inline-start: -$item-inline-padding;

  li {
    border-block-end: 2px solid transparent;
    &.active {
      border-color: $background-inverse;
    }
  }
}

.link {
  display: flex;
  block-size: $spacing-09;
  column-gap: $spacing-03;
  align-items: center;
  padding-inline: $item-inline-padding;
  font-size: rem(14px);
  line-height: math.div(18, 14);
  color: $text-dark;
  text-decoration: none;

  &:hover {
    color: $background-inverse;
  }
}

@include breakpoint-up(md) {
  .list {
    column-gap: $spacing-05;
  }
}
