/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include scrollbar();
  background-color: $layer;
  padding: $spacing-08 $spacing-07 $spacing-07;
  border-radius: $border-radius;
  position: relative;
  max-block-size: 100%;
}

.actions {
  --cds-icon-primary: currentColor;
  display: flex;
  position: absolute;
  inset-block-start: $spacing-05;
  inset-inline-end: $spacing-05;
}
