/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-06;
  margin-block: auto;
  padding-block-end: var(--header-height);
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-04;
}
