/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include hide-popover();
  position: fixed;
  inset-block-end: rem(72px);
  inset-inline-end: 0;
  padding-inline: $grid-margin;

  :global(.cds--popover-container) {
    background-color: $layer;
    border-radius: $border-radius;
  }
}

@include breakpoint-up(xlg) {
  .root {
    inset-inline-end: 50%;
    transform: translateX(math.div(get-value($grid-breakpoints, 'lg.width'), 2));
  }
}
