.root {
  position: fixed;
  inset-block-end: $grid-margin;
  inset-inline-end: 0;
  padding-inline: $grid-margin;

  :global(.cds--popover-container) {
    background-color: $layer;
    border-radius: $border-radius;
  }

  :global(.cds--popover) {
    display: none;
  }
}

@include breakpoint-up(xlg) {
  .root {
    inset-block-end: $spacing-06;
    inset-inline-end: 50%;
    transform: translateX(math.div(get-value($grid-breakpoints, 'xlg.width'), 2));
  }
}
