/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.accordion {
  :global(.cds--accordion__item:first-child) {
    border-block-start: 0;
  }
  :global(.cds--accordion__item:last-child) {
    border-block-end: 0;
  }
  :global(.cds--accordion__heading) {
    column-gap: $spacing-04;
    min-block-size: rem(80px);
    &:focus:not(:focus-visible) {
      box-shadow: none;
    }
    &[aria-expanded='true'] {
      pointer-events: none;
      :global(.cds--accordion__arrow) {
        display: none;
      }
    }
  }
  :global(.cds--accordion__title) {
    padding-inline-start: 0;
    font-weight: 600;
    font-size: rem(24px);
    line-height: math.div(32, 24);
  }
  :global(.cds--accordion__arrow) {
    order: 1;
    inline-size: rem(24px);
    block-size: rem(24px);
    flex-basis: rem(24px);
  }
  :global(.cds--accordion__wrapper) {
    padding-block: $spacing-05 $spacing-06;
  }
  :global(.cds--accordion__content) {
    color: $text-dark;
    > p {
      font-size: rem(16px);
      line-height: math.div(21, 16);
      letter-spacing: $letter-spacing-lg;
    }
    > * + * {
      margin-block-start: $spacing-05;
    }
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .more {
    a {
      text-decoration: none;
      color: $expand-button-color;
      &:hover {
        color: $text-dark;
      }
    }
  }
}

@include breakpoint-down(md) {
  .right {
    display: none;
  }
}

@include breakpoint-up(md) {
  .holder {
    display: flex;
    column-gap: $gap;
  }

  .left {
    inline-size: rem(288px);
    flex-shrink: 0;

    .video {
      display: none;
    }
  }

  .right {
    flex: 1 1 auto;
  }

  .accordion {
    :global(.cds--accordion__content) {
      padding-inline: 0 rem(46px);
    }
  }
}
