/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;
  border: 1px solid $layer-03;
  background-color: $layer-02;
  aspect-ratio: 16 / 9;
  video {
    inline-size: 100%;
    block-size: 100%;
  }
}

.button {
  @include hide-popover();
  &:global(.cds--popover-container) {
    position: absolute;
    inset-inline-end: rem(16px);
    inset-block-end: rem(16px);
    z-index: 1;
    svg {
      inline-size: rem(24px);
      block-size: rem(24px);
    }
  }
  :global(.cds--btn) {
    svg {
      fill: $black;
    }

    &:focus,
    &:active,
    &:hover {
      background-color: transparent;
      box-shadow: none;
      border-color: transparent;
    }
  }
}
