/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

$max-container: get-value($grid-breakpoints, 'max.width');

.splitView {
  display: grid;
  grid-template-columns: 1fr calc((100vw / 3 * 2) - (max(100vw - #{$max-container}, 0px) / 2 / 3));
  block-size: 100%;
  inline-size: 100%;
  overflow: hidden;
}

.simpleView {
  min-block-size: 100%;
  display: flex;
}

.leftPane,
.rightPane {
  @include scrollbar();
  min-inline-size: 0;
  padding: $grid-margin;
  display: flex;
  flex-direction: column;
  min-block-size: 0;
}

.leftPane {
  background-color: $layer;
  border-inline-end: 1px solid $border-subtle-00;
  .content {
    max-inline-size: calc(math.div($max-container, 3) - var(--scrollbar-width, 0px));
    margin-inline-start: auto;
  }
}

.rightPane {
  background-color: $layer-02;
  .content {
    max-inline-size: math.div($max-container, 3) * 2;
    margin-inline-end: auto;
  }
}

.content {
  flex-grow: 1;
  inline-size: 100%;
}
