/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
  text-decoration: none;
  color: $text-dark;
  font-size: rem(14px);
  line-height: math.div(18, 14);
  &:hover {
    color: $background-inverse;
  }
}
