/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.container {
  --cds-label-01-font-size: #{rem(12px)};
  --cds-label-01-line-height: #{rem(16px)};
  --cds-label-01-letter-spacing: #{$letter-spacing-lg};

  --cds-body-compact-01-font-size: #{rem(12px)};
  --cds-body-compact-01-line-height: #{rem(18px)};
  --cds-body-compact-01-letter-spacing: #{$letter-spacing};

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  min-inline-size: rem(224px);

  :global(.cds--checkbox-group) {
    padding-inline: $spacing-04;
  }
}

.toggleButtonContainer {
  @include hide-popover();

  button {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    inline-size: rem(48px);
  }
}

.clear {
  @include type-style(body-compact-01);
  align-self: flex-end;
}
