.toasts {
  position: fixed;
  inset-block-start: 0;
  inset-inline-end: 0;
  max-inline-size: 100%;
  // Set the z-index between the modal and dropdown.
  z-index: z('modal') + 1;

  > * {
    margin-block-start: $spacing-03;
    margin-inline-end: $spacing-03;
  }

  :global(.cds--toast-notification) {
    inline-size: rem(360px);
    max-inline-size: 100%;
  }
  :global(.cds--toast-notification__details) {
    flex-grow: 1;
    margin-inline-end: 0;
  }
}

.apiError {
  margin-block-start: $spacing-02;
  font-size: rem(12px);
  font-family: font-family('mono');
  background: $background-inverse;
  color: $text-inverse;
  padding: $spacing-03;
  max-block-size: 10.2rem;
  overflow: hidden;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
