/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.toasts {
  @include scrollbar();
  display: flex;
  flex-direction: column;
  row-gap: $spacing-03;
  position: fixed;
  inset-block-start: rem(49px);
  inset-inline-end: $spacing-05;
  max-block-size: calc(100% - rem(49px));
  padding: $spacing-05;
  z-index: z('modal') + 1;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }

  :global(.cds--toast-notification) {
    inline-size: rem(288px);
  }
}

.clearButton {
  display: flex;
  margin-inline-start: auto;
  background-color: $layer;
  border-radius: $border-radius;
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  :global(.cds--btn) {
    box-shadow: $box-shadow;
    padding-inline-end: rem(15px);
    background-color: $layer;
  }
}

.apiError {
  @include line-clamp(10);
  margin-block-start: $spacing-02;
  font-size: rem(12px);
  font-family: font-family('mono');
  background: $background-inverse;
  color: $text-inverse;
  padding: $spacing-03;
  max-block-size: 10.2rem;
}
