/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-07;
}

.description {
  @include type-style(body-01);
}

.table {
  :global(.cds--data-table) {
    border-block-start: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    th,
    td {
      &:last-child {
        inline-size: rem(46px);
      }
    }
    thead tr:first-child th {
      border-radius: 0;
    }
  }
}
