/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
}

.search {
  flex-grow: 1;
  position: relative;

  > svg {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: $spacing-05;
    transform: translateY(-50%);
  }

  :global(.#{$prefix}--text-input) {
    padding-inline-end: rem(47px);
    border-radius: $border-radius 0 0 0;
    border-block-end: 0;
    border-inline-end: 0;
  }
}

.button {
  :global(.cds--btn) {
    border-radius: 0 $border-radius 0 0;
  }
}
