/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  gap: $spacing-05;
  display: flex;
  align-items: center;

  hr {
    block-size: 1rem;
    inline-size: 0;
    border: none;
    border-inline-start: 1px solid $border-subtle;
  }
}

.nav {
  display: flex;
  gap: $spacing-05;

  &.navSocial {
    gap: $spacing-04;
  }
}

.item {
  flex-shrink: 0;
}

.link {
  @include link-mask(-$spacing-02);
  display: flex;
  color: inherit;
  position: relative;
  text-decoration: none;
  font-size: rem(12px);
  &:hover {
    color: $background-inverse;
  }
}
